[Unit]
Description=File hash agent service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/usr/bin/file-hash-agent --config.enabled --config.file-name=/etc/file-hash-agent.yml

[Install]
WantedBy=multi-user.target